/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */
 body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:url('/libs/img/georouting/background-mobile.png?format=webply&optimize=medium');
}
 .dialog-modal.locale-modal-v2 {
  background-image: url('/libs/img/georouting/background-mobile.png?format=webply&optimize=medium');
 }

 @media (min-width: 480px) {
  body::after{
    content:url('/libs/img/georouting/background-tablet.png?format=webply&optimize=medium');
  }

  .dialog-modal.locale-modal-v2 {
    background-image: url('/libs/img/georouting/background-tablet.png?format=webply&optimize=medium');
  }
}

@media (min-width: 1200px) {
  body::after{
    content:url('/libs/img/georouting/background-desktop.png?format=webply&optimize=medium');
  }

  .dialog-modal.locale-modal-v2 {
    background-image: url('/libs/img/georouting/background-desktop.png?format=webply&optimize=medium');
  }
}
